//vars
$white:#f6f6f6; 
$blue:#33c1e3;
$black:#414141;

//layout
@import "_misc/fonts.scss";
@import "_misc/mixins.scss";
@import "_misc/normalize.css";

//styles

@import "sections/header.scss";
@import "sections/top_nav.scss";
@import "sections/feature.scss";
@import "sections/about.scss";
@import "sections/team.scss";
@import "sections/skill.scss";
@import "sections/services.scss";
@import "sections/portfolio.scss";
@import "sections/get_in_touch.scss";
@import "sections/footer.scss";
