@import url(_misc/normalize.css);
@font-face {
  font-family: 'existencelight';
  src: url("../fonts/existence-light-webfont.woff") format("woff"), url("../fonts/existence-light-webfont.svg#existencelight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticabold';
  src: url("../fonts/HelveticaNeueBold.ttf") format("ttf");
}

@font-face {
  font-family: 'helveticalight';
  src: url("../fonts/Helvetica-Light.ttf") format("ttf");
}

@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-hairline-webfont.woff") format("woff"), url("../fonts/lato-hairline-webfont.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header__elem-bottom:after, .nav-top:after, .about__desk:after, .skill .container:after, .clear:after, .services .container:after, .services__statistic:after, .last_value:after, .get_in_touch .container:after, .header__elem-bottom:before, .nav-top:before, .about__desk:before, .clear:before, .services .container:before, .services__statistic:before, .last_value:before, .get_in_touch .container:before {
  content: "";
  display: table;
}

.header__elem-bottom:after, .nav-top:after, .about__desk:after, .skill .container:after, .clear:after, .services .container:after, .services__statistic:after, .last_value:after, .get_in_touch .container:after {
  clear: both;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.header {
  display: block;
  background: url("../img/background.jpg") no-repeat;
  height: 70.5rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.container {
  width: 71.25rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__top {
  text-align: center;
  padding-top: 7.5625rem;
}

.header__text {
  margin-top: 5rem;
  text-align: center;
  font-family: "latohairline";
  color: white;
  font-weight: 300;
}

.header__text h2 {
  font-size: 3rem;
  line-height: 0.5;
}

.header__text p {
  font-size: 1.5rem;
}

.header__text p small {
  display: block;
}

.header__elem-top {
  text-align: center;
  margin: 0 auto;
  margin-top: 7rem;
}

.heptagon {
  display: inline-block;
  position: relative;
  background: url("../img/border_white.png") no-repeat;
  width: 10.625rem;
  height: 11.5625rem;
  cursor: pointer;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.heptagon:hover {
  background: url("../img/purple_bg.png") no-repeat;
}

.heptagon .logo {
  width: 4.1875rem;
  height: 4.375rem;
  display: inline-block;
  text-align: center;
  margin-top: 2.625rem;
  z-index: 2;
}

.heptagon .elem-top__left-logo__img {
  background: url(../img/services_icon.png) no-repeat 0px 0px;
}

.heptagon .elem-top__right-logo__img {
  background: url(../img/portfolio_icon.png) no-repeat 0px 0px;
}

.heptagon .block-left__about-logo__img {
  background: url(../img/about_icon.png) no-repeat 0px 0px;
}

.heptagon .block-left__team-logo__img {
  background: url(../img/team_icon.png) no-repeat 0px 0px;
}

.heptagon .block-right__blog-logo__img {
  background: url(../img/blog_icon.png) no-repeat 0px 0px;
}

.heptagon .block-right__contact-logo__img {
  background: url(../img/contact_icon.png) no-repeat 0px 0px;
}

.heptagon label {
  display: block;
  font-family: 'latoregular';
  font-size: 1.125rem;
  text-align: center;
  color: white;
  z-index: 2;
  font-weight: bold;
}

.header__block-left__about, .elem-top-left {
  margin-right: 1.8125rem;
}

.header__block-right__contact {
  margin-left: 1.8125rem;
}

.header__elem-bottom {
  width: 100%;
  margin-top: 1.875rem;
}

.header__elem-bottom .header__block-left {
  float: left;
  width: 50%;
}

.header__elem-bottom .header_block-right {
  float: right;
  width: 50%;
  text-align: right;
}

.elem-top__left-logo__img, .elem-top__right-logo__img {
  margin-left: 0.9375rem;
}

.block-right__contact-logo__img, .block-right__blog-logo__img {
  margin-right: 3.125rem;
}

.block-left__team-logo__img, .block-left__about-logo__img {
  margin-left: 3.4375rem;
}

.header__arrow-elem {
  text-align: center;
}

.header__arrow-elem a {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.875rem;
  width: 7.5rem;
  height: 7.5rem;
  background: url(../img/arrow_down.png) no-repeat 0px 0px;
}

.header__arrow-elem a:hover {
  background: url(../img/arrow_down_hover.png) no-repeat 0px 0px;
}

.nav-top {
  display: block;
  width: 71.25rem;
  margin: 0 auto;
  font-size: 1.125rem;
  font-family: 'latolight';
}

.nav-top__logo {
  float: left;
  margin: 3.625rem 0rem 3rem;
  width: 10.0625rem;
  height: 2.375rem;
  background: url("../img/bhagaskara_logo.png") no-repeat;
}

.nav-top__list {
  float: right;
  margin: 4.5rem 0rem 3.5625rem;
}

.nav-top__list li {
  display: inline-block;
  text-decoration: none;
  padding-left: 1.875rem;
}

.nav-top__list li a {
  color: #676767;
}

.nav-top__list li a:hover {
  color: #9f449b;
  font-weight: 600;
}

.feature {
  background-color: #eeeeee;
  padding: 10.6875rem 0rem 14.1875rem;
  font-size: 0rem;
}

.feature__container > div {
  display: inline-block;
  width: 17.8125rem;
  text-align: center;
  font-family: 'latolight';
  line-height: 1.875rem;
  color: #676767;
}

.feature__container > div h2 {
  font-size: 1.5rem;
}

.feature__container > div p {
  font-size: 1rem;
}

.feature_logo {
  width: 10.75rem;
  height: 11.625rem;
  margin: 0 auto;
}

.feature__build__logo {
  background: url(../img/heart_logo.png) no-repeat;
}

.feature__modern__logo {
  background: url(../img/modern_logo.png) no-repeat;
}

.feature__use__logo {
  background: url(../img/use_logo.png) no-repeat;
}

.feature__responsive__logo {
  background: url(../img/responsive_logo.png) no-repeat;
}

.feature__build:hover .feature__build__logo {
  background: url(../img/heart_logo_hover.png) no-repeat;
}

.feature__modern:hover .feature__modern__logo {
  background: url(../img/modern_logo_hover.png) no-repeat;
}

.feature__use:hover .feature__use__logo {
  background: url(../img/use_logo_hover.png) no-repeat;
}

.feature__responsive:hover .feature__responsive__logo {
  background: url(../img/responsive_logo_hover.png) no-repeat;
}

.about {
  width: 100%;
}

.about__header {
  background: url(../img/about_header.png) no-repeat;
  width: 16.9375rem;
  height: 7.125rem;
  margin: 0 auto;
  margin-top: 7.9375rem;
}

.about__desk {
  margin-top: 8.5625rem;
  margin-bottom: 14.375rem;
}

.about__desc-content {
  float: right;
  font-family: "latolight";
  font-size: 1rem;
  width: 28.5rem;
  color: #676767;
  line-height: 2.25rem;
  font-weight: 600;
}

.about__desc-content button {
  box-sizing: border-box;
  font-size: 1.25rem;
  padding: 1rem 3.75rem;
  margin-top: 5.625rem;
  background: #9f449b;
  border-bottom: solid 0.25rem #6B2E68;
  border-radius: 0.4375rem;
  text-align: center;
  color: #FFFFFF;
}

.about__desc-content button:hover {
  color: #6B2E68;
  background: transparent;
  border: solid 0.125rem #6B2E68;
  border-top: solid 0.3125rem #6B2E68;
  border-radius: 0.625rem;
}

.about__desk-img {
  float: left;
  background: url(../img/screen_img.png) no-repeat;
  width: 40.875rem;
  height: 25.9375rem;
  margin-right: 1.875rem;
}

.about__footer {
  width: 100%;
  background: url(../img/section_bg.jpg) no-repeat;
  background-size: cover;
}

.about__block {
  text-align: center;
  padding: 9.375rem 0px;
}

.about__block p {
  font-family: "latolight";
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 600;
}

.about-logo {
  margin: 0 auto;
  width: 10.4375rem;
  height: 11.3125rem;
  background: url(../img/about_study_icon.png) no-repeat;
}

.think-logo {
  margin: 0 auto;
  width: 10.4375rem;
  height: 11.3125rem;
  background: url(../img/about_think_icon.png) no-repeat;
}

.team__header {
  background: url(../img/team_header.png) no-repeat;
  width: 18.5625rem;
  height: 7.125rem;
  margin: 0 auto;
}

.team {
  margin-top: 9.375rem;
}

.team__arrows {
  margin: 0 auto;
  text-align: center;
  margin-top: 8.125rem;
}

.team__arrows-next, .team__arrows-prev {
  width: 4.0625rem;
  height: 4.375rem;
  outline-style: none;
  border: 0;
}

.team__arrows-next {
  background: url(../img/arrow_right.png) no-repeat;
}

.team__arrows-next:hover {
  background: url(../img/arrow_right_hover.png) no-repeat;
}

.team__arrows-prev {
  background: url(../img/arrow_left.png) no-repeat;
}

.team__arrows-prev:hover {
  background: url(../img/arrow_left_hover.png) no-repeat;
}

.team__container__row, .team__container__second_row {
  width: 71.25rem;
  font-size: 0px;
  margin: 9.6875rem 0;
}

.team__container__second_row {
  display: none;
}

.workers {
  width: 33.33%;
  display: inline-block;
  text-align: center;
}

.workers h2 {
  font-family: 'latobold';
  font-size: 1.5rem;
  color: 484848;
  line-height: 1.5625rem;
}

.workers p {
  font-family: 'latoregular';
  font-size: 1.125rem;
  color: #777777;
  line-height: 1.5625rem;
}

.workers a {
  margin-right: 1.5625rem;
  transition-duration: 0.4s;
}

.workers a img:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.team__img {
  width: 15.625rem;
  height: 15.625rem;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  border: 0.125rem solid #fff;
  margin: 0 auto;
}

.team__img img {
  display: block;
  width: auto;
  max-height: 100%;
}

.skill_header {
  background: url(../img/skill_header.png) no-repeat;
  width: 18.5625rem;
  height: 7.125rem;
  margin: 0 auto;
  margin-bottom: 180px;
}

.skill_left {
  width: 26.875rem;
  float: left;
  margin-left: 2.8125rem;
}

.skill_right {
  width: 26.875rem;
  float: right;
  margin-right: 2.8125rem;
}

.skill h3 {
  font-size: 1.375rem;
  font-family: 'helveticabold';
  color: #222222;
  line-height: 1rem;
  text-align: left;
  float: left;
  margin-bottom: 0rem;
}

.skill .container {
  margin-bottom: 11.875rem;
}

.skill-percent {
  float: right;
  font-size: 1.5rem;
  font-family: 'latolight';
  line-height: 1.125rem;
  color: #777777;
  margin-bottom: 0rem;
}

.score {
  width: 26.875rem;
  background: #eee7e7;
}

.score p {
  background: #9F449B;
  width: 85%;
  height: 1.25rem;
}

.skill__score-web p {
  width: 90%;
}

.skill__score-design p {
  width: 75%;
}

.skill__score-html p {
  width: 70%;
}

.skill__score-ul p {
  width: 85%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.services {
  background-color: #eee7e7;
  padding-top: 7.8125rem;
  position: relative;
}

.services__statistic-value {
  width: 25%;
  float: left;
  font-family: 'helveticalight' sans-serif;
  text-align: center;
}

.services__statistic-value h2 {
  font-size: 4rem;
  line-height: 1.125rem;
  color: #222222;
  font-weight: 100;
  margin: 1.5625rem 0;
}

.services__statistic-value p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
}

.services__slider {
  height: 40.625rem;
}

.services__bottom {
  background-color: #FFFFFF;
  height: 3.4375rem;
  width: 80rem;
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.portfolio_header {
  background: url(../img/portfolio_header.png) no-repeat;
  width: 23.0625rem;
  height: 7.125rem;
  margin: 0 auto;
  margin-top: 1.875rem;
}

.portfolio__nav {
  display: block;
  width: 100%;
  margin-top: 5rem;
}

.portfolio__nav ul {
  text-align: center;
  list-style: none;
}

.portfolio__nav ul li {
  text-align: center;
  list-style: none;
  display: inline-block;
  margin: 0;
  outline: none;
  margin-right: 1.25rem;
}

.portfolio__nav ul label {
  margin: 0;
  outline: none;
  cursor: pointer;
  border: 1px solid #172F41;
  padding: 0.625rem 1.5625rem;
  border-radius: 0.25rem;
  color: #172F41;
  font-family: 'helveticalight',sans-serif;
  font-size: 1.125rem;
}

.portfolio__nav ul label:hover {
  border: 0.0625rem solid #9f449b;
}

.portfolio__nav ul input {
  display: none;
}

.portfolio__nav ul input:checked ~ label {
  background-color: #9f449b;
  color: white;
  border-color: #9f449b;
}

.portfolio__works {
  font-size: 0rem;
  margin-top: 4.375rem;
}

.portfolio__works_top {
  margin-bottom: 2.1875rem;
}

.portfolio__works-block {
  width: 33.33%;
  display: inline-block;
  text-align: center;
}

.portfolio__img {
  width: 22.5rem;
  height: 22.5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.portfolio__img:hover {
  background-color: #565d67;
}

.portfolio__img:hover img {
  opacity: 0.6;
}

.portfolio__img img {
  display: block;
  width: auto;
  max-height: 100%;
  border: 0px;
}

.portfolio__desc {
  text-align: center;
  font-family: 'helveticalight' ,sans-serif;
}

.portfolio__desc h2 {
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #222222;
  font-weight: 100;
  margin-bottom: 0px;
}

.portfolio__desc p {
  font-size: 1rem;
  line-height: 1.625rem;
  color: #777777;
  margin: 0;
}

.portfolio__button button {
  box-sizing: border-box;
  font-size: 1.25rem;
  display: block;
  margin: 0 auto;
  padding: 1.125rem 3.75rem;
  margin-top: 3.4375rem;
  background: #9f449b;
  border-bottom: solid 0.25rem #6B2E68;
  border-radius: 0.4375rem;
  text-align: center;
  color: #FFFFFF;
}

.portfolio__button button:hover {
  color: #6B2E68;
  background: transparent;
  border: solid 0.125rem #6B2E68;
  border-top: solid 0.3125rem #6B2E68;
  border-radius: 0.625rem;
}

.get_in_touch {
  margin-top: 11.875rem;
}

.get_in_touch_header {
  background: url(../img/touch_header.png) no-repeat;
  width: 23.0625rem;
  height: 7.125rem;
  margin: 0 auto;
  margin-bottom: 10.625rem;
}

.get_in_touch__form {
  width: 50%;
  float: left;
}

.get_in_touch__form input[type="text"], .get_in_touch__form textarea {
  box-sizing: border-box;
  width: 32.5rem;
  padding: 3%;
  color: #5D5D5D;
  border: 0.0625rem solid #4E4E4E;
  outline: none;
  font-size: 18px;
  margin-bottom: 7%;
  display: block;
}

.get_in_touch__form textarea {
  min-height: 18.75rem;
  resize: none;
}

.form__send {
  width: 14rem;
}

.form__send a {
  box-sizing: border-box;
  font-size: 1.25rem;
  display: block;
  margin: 0 auto;
  padding: 1.125rem 3.75rem;
  margin-top: 1.875rem;
  background: #9f449b;
  border-bottom: solid 0.25rem #6B2E68;
  border-radius: 0.4375rem;
  text-align: center;
  color: #FFFFFF;
}

.form__send a:hover {
  color: #6B2E68;
  background: transparent;
  border: solid 0.0625rem #6B2E68;
  border-top: solid 0.3125rem #6B2E68;
  border-radius: 0.625rem;
}

.get_in_touch__info {
  box-sizing: border-box;
  width: 50%;
  float: right;
  padding: 0 1.875rem;
}

.get_in_touch__info p {
  font-family: 'helveticalight',sans-serif;
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 100;
  margin: 0;
  color: #4b4b4b;
}

.get_in_touch__info h4, .get_in_touch__info a {
  font-family: 'helveticabold', sans-serif;
  font-size: 1.75rem;
  line-height: 2.375rem;
  color: #222222;
  margin-top: 3.125rem 0 2.5rem;
}

.get_in_touch__info a {
  display: block;
  margin: 0;
  font-weight: bold;
}

.get_in_touch-icons {
  margin-top: 3.125rem;
}

.get_in_touch-icons a {
  display: inline-block;
}

.get_in_touch-icons span {
  width: 3.75rem;
  height: 3.75rem;
  background: url(../img/get_in_touch_icons.png) no-repeat 0px 0px;
  display: inline-block;
}

.get_in_touch-icons .get_in_touch-fb {
  background-position: -0.375rem 0px;
}

.get_in_touch-icons .get_in_touch-fb:hover {
  background-position: -0.4375rem -3.75rem;
}

.get_in_touch-icons .get_in_touch-tw {
  background-position: -4.9375rem 0px;
}

.get_in_touch-icons .get_in_touch-tw:hover {
  background-position: -5rem -3.75rem;
}

.get_in_touch-icons .get_in_touch-gl {
  background-position: -9.625rem 0px;
}

.get_in_touch-icons .get_in_touch-gl:hover {
  background-position: -9.625rem -3.75rem;
}

.footer_logo {
  width: 274px;
  height: 63px;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 130px;
  background: url(../img/footer_logo.png) no-repeat;
}

/*# sourceMappingURL=main.css.map */