@font-face {
  font-family: 'existencelight';
  src: url("../fonts/existence-light-webfont.woff") format("woff"), url("../fonts/existence-light-webfont.svg#existencelight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticabold';
  src: url("../fonts/HelveticaBold.woff") format("woff");
}

@font-face {
  font-family: 'helveticalight';
  src: url("../fonts/HelveticaLight.woff") format("woff");
}

@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-hairline-webfont.woff") format("woff"), url("../fonts/lato-hairline-webfont.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wrapper:after, .container:after, .header__elem-bottom:after, .nav-top:after, .feature:after, .about__desk:after, .skill .container:after, .clear:after, .services__statistic:after, .last_value:after, .get_in_touch .container:after, .get_in_touch__section:after, .wrapper:before, .container:before, .header__elem-bottom:before, .nav-top:before, .feature:before, .about__desk:before, .clear:before, .services__statistic:before, .last_value:before, .get_in_touch .container:before, .get_in_touch__section:before {
  content: "";
  display: table;
}

.wrapper:after, .container:after, .header__elem-bottom:after, .nav-top:after, .feature:after, .about__desk:after, .skill .container:after, .clear:after, .services__statistic:after, .last_value:after, .get_in_touch .container:after, .get_in_touch__section:after {
  clear: both;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

@media screen and (max-width: 1360px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1170px) {
  html {
    font-size: 13.2px;
  }
}

@media screen and (max-width: 1025px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}

.header {
  height: 65.375rem;
  overflow: hidden;
}

.header_bg {
  display: block;
  background: url("../img/background.jpg") no-repeat;
  height: 67.0625rem;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.container {
  width: 68.19938rem;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
  .container {
    width: 64rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 65rem;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 46rem;
  }
}

.header__top {
  text-align: center;
  padding-top: 6.5rem;
}

.header__top img {
  width: 28.66937rem;
}

.header__text {
  margin-top: 4.7585rem;
  text-align: center;
  font-family: "latohairline";
  color: white;
  font-weight: 300;
}

.header__text h2 {
  font-size: 3rem;
  line-height: 0.5;
}

@media screen and (max-width: 600px) {
  .header__text h2 {
    font-size: 2.4rem;
  }
}

.header__text p {
  font-size: 1.5125rem;
  line-height: 1.4375rem;
}

@media screen and (max-width: 600px) {
  .header__text p {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header__text {
    margin-top: 0;
  }
}

.header__elem-top {
  text-align: center;
  margin: 0 auto;
  margin-top: 7.0625rem;
}

@media screen and (max-width: 800px) {
  .header__elem-top {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .header__elem-top {
    display: inline-block;
    width: 35%;
  }
}

.heptagon {
  display: inline-block;
  position: relative;
  background: url("../img/border_white.png") no-repeat;
  width: 9.93337rem;
  height: 10.76611rem;
  cursor: pointer;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.heptagon:hover {
  background: url("../img/purple_bg.png") no-repeat;
  width: 9.93337rem;
  height: 10.76611rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
  transition: 0.5s all;
}

@media screen and (max-width: 600px) {
  .heptagon:hover {
    width: 12.8rem;
    height: 13.8rem;
  }
}

.heptagon .logo {
  display: block;
  margin: 0 auto;
  margin-top: 2.1875rem;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .heptagon {
    width: 12.8rem;
    height: 13.8rem;
  }
}

.elem-top__left-logo__img {
  background: url(../img/services_icon.png) no-repeat;
  width: 3.62836rem;
  height: 3.21199rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.elem-top__right-logo__img {
  background: url(../img/portfolio_icon.png) no-repeat;
  width: 2.97406rem;
  height: 3.15251rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.block-left__about-logo__img {
  background: url(../img/about_icon.png) no-repeat;
  width: 3.39043rem;
  height: 3.39043rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.block-left__team-logo__img {
  background: url(../img/team_icon.png) no-repeat;
  width: 3.33095rem;
  height: 3.33095rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.block-right__blog-logo__img {
  background: url(../img/blog_icon.png) no-repeat;
  width: 3.44991rem;
  height: 3.44991rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.block-right__contact-logo__img {
  background: url(../img/contact_icon.png) no-repeat;
  width: 3.44991rem;
  height: 3.44991rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

label {
  display: block;
  font-family: 'latoregular';
  font-size: 1.125rem;
  text-align: center;
  color: white;
  z-index: 2;
  font-weight: bold;
  margin-top: 1.625rem;
}

.header__block-left__about, .elem-top-left {
  margin-right: 1.58rem;
}

.header__block-right__contact {
  margin-left: 1.36rem;
}

.header__elem-bottom {
  width: 100%;
  margin-top: 1.45rem;
}

.header__elem-bottom .header__block-left {
  float: left;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .header__elem-bottom .header__block-left {
    float: none;
    width: auto;
    text-align: center;
    margin: 0 auto;
  }
}

.header__elem-bottom .header_block-right {
  float: right;
  width: 50%;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .header__elem-bottom .header_block-right {
    float: none;
    width: auto;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .header__elem-bottom {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .header__elem-bottom {
    display: inline-block;
    width: 60%;
  }
}

.elem-top__left-logo__img, .elem-top__right-logo__img {
  margin-left: 0.9375rem;
}

.block-right__contact-logo__img, .block-right__blog-logo__img {
  margin-right: 3.125rem;
}

.block-left__team-logo__img, .block-left__about-logo__img {
  margin-left: 3.4375rem;
}

.header__arrow-elem {
  text-align: center;
}

.header__arrow-elem a {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.875rem;
  width: 5.125rem;
  height: 5.5625rem;
  background: url(../img/arrow_down.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.header__arrow-elem a:hover {
  background: url(../img/arrow_down_hover.png) no-repeat;
  width: 5.125rem;
  height: 5.5625rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
  transition: 0.5s all;
}

@media screen and (max-width: 600px) {
  .header__arrow-elem a:hover {
    width: 8.1rem;
    height: 8.5rem;
  }
}

@media screen and (max-width: 600px) {
  .header__arrow-elem a {
    width: 8.1rem;
    height: 8.5rem;
  }
}

.nav-top {
  display: block;
  width: 67.75rem;
  margin: 0 auto;
  font-size: 1.125rem;
  font-family: 'latolight';
}

@media screen and (max-width: 1025px) {
  .nav-top {
    width: 62.66667rem;
  }
}

@media screen and (max-width: 800px) {
  .nav-top {
    width: 58.33333rem;
  }
}

@media screen and (max-width: 600px) {
  .nav-top {
    font-size: 1.4rem;
    width: 54.2rem;
    position: relative;
  }
}

.nav-fix {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  text-align: center;
}

.nav-fix .nav-top__logo {
  float: none;
  margin: 0.9375rem 0;
  display: inline-block;
}

.nav-fix .nav-top__list {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-top: 1.375rem;
}

@media screen and (max-width: 600px) {
  .nav-fix .nav-top__list {
    float: right;
    margin: 0.4rem 0;
  }
}

.nav-fix .nav-top__list.responsive .menu_icon {
  position: absolute;
  right: 1.9rem;
  top: 0.9rem;
  margin: 0;
}

.nav-fix .nav-top__list.responsive li {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .nav-fix .nav-top__list.responsive {
    width: 100%;
    margin-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  .nav-fix {
    text-align: initial;
    margin: 0;
    padding: 0px 2rem;
    box-sizing: border-box;
  }
}

.nav-top__logo {
  float: left;
  margin: 3.375rem 0rem 2.8125rem;
  width: 9.57625rem;
  height: 2.26rem;
  background: url("../img/bhagaskara_logo.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 1025px) {
  .nav-top__logo {
    margin: 1rem 0rem 0.66667rem;
  }
}

@media screen and (max-width: 600px) {
  .nav-top__logo {
    width: 20.5rem;
    height: 4.8rem;
    float: left;
    margin-top: 2rem;
  }
}

.nav-top__list {
  float: right;
  margin-top: 4.0625rem;
}

.nav-top__list li {
  display: inline-block;
  text-decoration: none;
  padding-left: 1.4375rem;
}

@media screen and (max-width: 600px) {
  .nav-top__list li {
    padding-left: 0.2rem;
    display: none;
  }
}

.nav-top__list li a {
  color: #676767;
}

.nav-top__list li a:hover {
  color: #9f449b;
  font-weight: 600;
}

.nav-top__list .menu_icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-top__list .menu_icon {
    float: right;
    display: inline-block;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .nav-top__list .menu_icon a {
    font-size: 4rem;
  }
}

.nav-top__list.responsive {
  width: 48.7766rem;
  float: left;
  margin-top: 0;
}

.nav-top__list.responsive li {
  float: none;
  display: block;
  font-size: 2.5rem;
  line-height: 5rem;
}

.nav-top__list.responsive li:not(:last-child) {
  width: 16rem;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .nav-top__list.responsive li:not(:last-child) {
    line-height: 3.6rem;
  }
}

.nav-top__list.responsive li a {
  display: block;
  display: inline;
}

.nav-top__list.responsive .menu_icon {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: 2.05rem;
}

@media screen and (max-width: 1025px) {
  .nav-top__list {
    margin-top: 1.66667rem;
  }
}

@media screen and (max-width: 600px) {
  .nav-top__list {
    padding-left: 0.2rem;
    margin-left: 6rem;
  }
}

.feature {
  background-color: #eeeeee;
  padding: 10.0625rem 0rem 11.9375rem;
  font-size: 0rem;
}

@media screen and (max-width: 1025px) {
  .feature {
    padding: 2rem 0;
  }
}

.feature__container > div {
  display: inline-block;
  width: 17rem;
  text-align: center;
  font-family: 'latolight';
  line-height: 1.875rem;
  padding: 0px 0.375rem;
  box-sizing: border-box;
  color: #676767;
}

@media screen and (max-width: 1025px) {
  .feature__container > div {
    width: 16rem;
  }
}

@media screen and (max-width: 800px) {
  .feature__container > div {
    width: 30rem;
    margin: 0 0.83333rem;
  }
}

@media screen and (max-width: 600px) {
  .feature__container > div {
    width: 46rem;
  }
}

.feature__container > div h2 {
  font-size: 1.5rem;
  margin-top: 2.125rem;
}

@media screen and (max-width: 800px) {
  .feature__container > div h2 {
    font-size: 2rem;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .feature__container > div h2 {
    font-size: 2.8rem;
    margin-top: 3rem;
  }
}

.feature__container > div p {
  font-size: 1rem;
  margin-top: 1.6875rem;
}

@media screen and (max-width: 800px) {
  .feature__container > div p {
    font-size: 1.16667rem;
  }
}

@media screen and (max-width: 600px) {
  .feature__container > div p {
    font-size: 1.8rem;
  }
}

.feature_logo {
  margin: 0 auto;
}

.feature__build__logo {
  background: url(../img/heart_logo.png) no-repeat;
  width: 10.23063rem;
  height: 11.06375rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 600px) {
  .feature__build__logo {
    width: 16.2rem;
    height: 17.3rem;
  }
}

.feature__modern__logo {
  background: url(../img/modern_logo.png) no-repeat;
  width: 10.23063rem;
  height: 11.06375rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 600px) {
  .feature__modern__logo {
    width: 16.2rem;
    height: 17.3rem;
  }
}

.feature__use__logo {
  background: url(../img/use_logo.png) no-repeat;
  width: 10.23063rem;
  height: 11.06375rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 600px) {
  .feature__use__logo {
    width: 16.2rem;
    height: 17.3rem;
  }
}

.feature__responsive__logo {
  background: url(../img/responsive_logo.png) no-repeat;
  width: 10.23063rem;
  height: 11.06375rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 600px) {
  .feature__responsive__logo {
    width: 16.2rem;
    height: 17.3rem;
  }
}

.feature__build:hover .feature__build__logo {
  background: url(../img/heart_logo_hover.png) no-repeat;
  width: 10.23063rem;
  height: 11.06375rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 600px) {
  .feature__build:hover .feature__build__logo {
    width: 16.2rem;
    height: 17.3rem;
  }
}

.feature__modern:hover .feature__modern__logo {
  background: url(../img/modern_logo_hover.png) no-repeat;
  width: 10.23063rem;
  height: 11.06375rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 600px) {
  .feature__modern:hover .feature__modern__logo {
    width: 16.2rem;
    height: 17.3rem;
  }
}

.feature__use:hover .feature__use__logo {
  background: url(../img/use_logo_hover.png) no-repeat;
  width: 10.23063rem;
  height: 11.06375rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 600px) {
  .feature__use:hover .feature__use__logo {
    width: 16.2rem;
    height: 17.3rem;
  }
}

.feature__responsive:hover .feature__responsive__logo {
  background: url(../img/responsive_logo_hover.png) no-repeat;
  width: 10.23063rem;
  height: 11.06375rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 600px) {
  .feature__responsive:hover .feature__responsive__logo {
    width: 16.2rem;
    height: 17.3rem;
  }
}

.about {
  width: 100%;
}

.about__header {
  background: url(../img/about_header.png) no-repeat;
  width: 16.11938rem;
  height: 6.78081rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
  margin: 0 auto;
  margin-top: 7.5625rem;
}

@media screen and (max-width: 1025px) {
  .about__header {
    margin-top: 0.66667rem;
  }
}

@media screen and (max-width: 800px) {
  .about__header {
    margin-top: 40px;
  }
}

.about__desk {
  margin-top: 8.125rem;
  margin-bottom: 13.8125rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
  .about__desk {
    margin-top: 3.33333rem;
    margin-bottom: 0;
  }
}

.about__desc-content {
  float: right;
  font-family: "latolight";
  font-size: 1rem;
  width: 28.5rem;
  color: #676767;
  line-height: 2.0625rem;
  font-weight: 600;
  box-sizing: border-box;
  padding-left: 1.1875rem;
}

@media screen and (max-width: 1025px) {
  .about__desc-content {
    width: 27rem;
  }
}

@media screen and (max-width: 800px) {
  .about__desc-content {
    float: none;
    width: 45.83333rem;
    margin: 0 auto;
    font-size: 1.25rem;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .about__desc-content {
    font-size: 1.6rem;
  }
}

.about__desc-content button {
  box-sizing: border-box;
  font-size: 1.1875rem;
  padding: 1.0625rem 3.8125rem;
  margin-top: 5.5625rem;
  background: #9f449b;
  border-bottom: solid 0.25rem #6B2E68;
  border-radius: 0.4375rem;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 1025px) {
  .about__desc-content button {
    margin-top: 4.66667rem;
  }
}

@media screen and (max-width: 800px) {
  .about__desc-content button {
    display: block;
    margin: 15px auto;
  }
}

.about__desc-content button:hover {
  color: #6B2E68;
  background: transparent;
  border: solid 0.125rem #6B2E68;
  border-top: solid 0.3125rem #6B2E68;
  border-radius: 0.625rem;
}

.about__desk-img {
  float: left;
  background: url(../img/screen_img.png) no-repeat;
  width: 39rem;
  height: 24.68472rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 1025px) {
  .about__desk-img {
    width: 36.66667rem;
    background-size: 100%;
  }
}

@media screen and (max-width: 800px) {
  .about__desk-img {
    width: 38.66667rem;
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.about__footer {
  width: 100%;
  background: url(../img/section_bg.jpg) no-repeat;
  background-size: cover;
}

.about__block, .think__block {
  text-align: center;
  padding: 9.0625rem 0px 8.5625rem;
  width: 43.75rem;
  margin: 0 auto;
}

.about__block p, .think__block p {
  font-family: "latolight";
  font-size: 2.8125rem;
  color: #ffffff;
  font-weight: 600;
  margin-top: 3.75rem;
  word-spacing: 0.125rem;
  letter-spacing: 0.08125rem;
  line-height: 2.1875rem;
}

@media screen and (max-width: 1025px) {
  .about__block, .think__block {
    padding: 1.33333rem 1.33333rem;
  }
}

.think__block {
  padding-bottom: 7.4375rem;
}

.think__block p {
  line-height: 3.4375rem;
  margin-top: 3.125rem;
  margin-bottom: 0rem;
}

@media screen and (max-width: 1025px) {
  .think__block {
    padding-bottom: 1.66667rem;
  }
}

.about-logo {
  margin: 0 auto;
  width: 9.93313rem;
  height: 10.76625rem;
  background: url(../img/about_study_icon.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.think-logo {
  margin: 0 auto;
  width: 9.93313rem;
  height: 10.76625rem;
  background: url(../img/about_think_icon.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.team__header {
  background: url(../img/team_header.png) no-repeat;
  width: 17.66593rem;
  height: 6.78086rem;
  margin: 0 auto;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 800px) {
  .team__header {
    margin-top: 3.33333rem;
  }
}

@media screen and (max-width: 600px) {
  .team__header {
    width: 26.7rem;
    height: 9.8rem;
  }
}

.team {
  margin-top: 9rem;
}

@media screen and (max-width: 1025px) {
  .team {
    margin-top: 2.66667rem;
  }
}

.team__arrows {
  margin: 0 auto;
  text-align: center;
  margin-top: 7.6875rem;
}

@media screen and (max-width: 1025px) {
  .team__arrows {
    margin-top: 1.33333rem;
  }
}

.team__arrows-next, .team__arrows-prev {
  width: 4.0625rem;
  height: 4.375rem;
  outline-style: none;
  border: 0;
  transition: 0.5s all;
}

.team__arrows-next {
  background: url(../img/arrow_right.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
  cursor: pointer;
}

.team__arrows-next:hover {
  background: url(../img/arrow_right_hover.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 800px) {
  .team__arrows-next {
    width: 5.41667rem;
    height: 5.83333rem;
    position: absolute;
    right: 0;
    bottom: 41.66667rem;
  }
}

.team__arrows-prev {
  background: url(../img/arrow_left.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

.team__arrows-prev:hover {
  background: url(../img/arrow_left_hover.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 800px) {
  .team__arrows-prev {
    width: 5.33333rem;
    height: 5.83333rem;
    position: absolute;
    left: 0;
    bottom: 41.66667rem;
  }
}

.team__container__row, .team__container__second_row {
  width: 68.19938rem;
  font-size: 0px;
  margin-top: 9.125rem;
}

@media screen and (max-width: 1025px) {
  .team__container__row, .team__container__second_row {
    margin-top: 3.33333rem;
    width: 64rem;
  }
}

@media screen and (max-width: 600px) {
  .team__container__row, .team__container__second_row {
    width: 46rem;
  }
}

.team__container__second_row {
  display: none;
}

.workers {
  width: 30%;
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .workers {
    width: 100%;
  }
}

.workers:nth-child(2) {
  width: 40%;
}

@media screen and (max-width: 800px) {
  .workers:nth-child(2) {
    width: 100%;
  }
}

.workers h2 {
  font-family: 'latobold';
  font-size: 1.39999rem;
  color: #484848;
  line-height: 1.5525rem;
}

@media screen and (max-width: 800px) {
  .workers h2 {
    font-size: 1.5rem;
  }
}

.workers p {
  font-family: 'latoregular';
  font-size: 1.125rem;
  color: #777777;
  line-height: 1.1235rem;
}

@media screen and (max-width: 1025px) {
  .workers p {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .workers p {
    font-size: 1.25rem;
  }
}

.workers a {
  margin: 0.72875rem;
  transition-duration: 0.4s;
  display: inline-block;
}

.workers a img {
  width: 2.75rem;
  height: 2.75rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 800px) {
  .workers a img {
    width: 3.33333rem;
    height: 3.33333rem;
  }
}

.workers a img:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.team__img {
  width: 14.87063rem;
  height: 14.87063rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .team__img {
    width: 20.83333rem;
    height: 20.83333rem;
  }
}

.team__img img {
  display: block;
  width: auto;
  max-height: 100%;
}

.team__left-info,
.team__center-info,
.team__right-info {
  margin-top: 4.8125rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1025px) {
  .team__left-info,
  .team__center-info,
  .team__right-info {
    margin-top: 1.33333rem;
  }
}

.skill_header {
  background: url(../img/skill_header.png) no-repeat;
  width: 17.66562rem;
  height: 6.78062rem;
  margin: 0 auto;
  margin-bottom: 11.25rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 1025px) {
  .skill_header {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .skill_header {
    margin-top: 3.33333rem;
  }
}

@media screen and (max-width: 600px) {
  .skill_header {
    width: 25.7rem;
    height: 9.8rem;
  }
}

.skill_left {
  width: 28.875rem;
  float: left;
  margin-left: 2.8125rem;
}

@media screen and (max-width: 800px) {
  .skill_left {
    width: 50rem;
  }
}

.skill_right {
  width: 28.875rem;
  float: left;
  margin-left: 2.125rem;
}

@media screen and (max-width: 800px) {
  .skill_right {
    width: 50rem;
  }
}

.skill__html, .skill__ul {
  padding-top: 1.56813rem;
}

.skill {
  margin-bottom: 10.9375rem;
}

@media screen and (max-width: 1025px) {
  .skill {
    margin-bottom: 2.66667rem;
  }
}

.skill h3 {
  font-size: 1.3875rem;
  font-family: 'helveticabold';
  color: #222222;
  line-height: 1rem;
  float: left;
  margin: 0rem;
  margin-left: 3.23125rem;
  margin-top: 0.1875rem;
}

.skill .container {
  margin-top: 6.295rem;
}

@media screen and (max-width: 1025px) {
  .skill .container {
    margin-top: 2.66667rem;
  }
}

.skill .base {
  margin-top: 1.4975rem;
}

.skill-percent {
  float: right;
  font-size: 1.5rem;
  font-family: 'helveticalight';
  line-height: 1.125rem;
  color: #777777;
  margin: 0rem;
  margin-right: 0.25rem;
}

@media screen and (max-width: 600px) {
  .skill-percent {
    margin-right: 4.2rem;
  }
}

.score {
  width: 24.875rem;
  background: #eee7e7;
  margin-left: 3.28125rem;
  margin-top: 1.49688rem;
}

.score p {
  background: #9F449B;
  height: 1.25rem;
}

@media screen and (max-width: 800px) {
  .score {
    width: 50rem;
  }
}

@media screen and (max-width: 600px) {
  .score {
    width: 46rem;
    margin-left: 0;
  }
}

.skill__score-web p {
  width: 90%;
}

.skill__score-html p {
  width: 75%;
}

.skill__score-design p {
  width: 70%;
}

.skill__score-ul p {
  width: 85%;
}

.services {
  background-color: #eee7e7;
  padding-top: 7.8125rem;
  position: relative;
}

@media screen and (max-width: 1025px) {
  .services {
    padding-top: 0.66667rem;
  }
}

.services__statistic {
  width: 63.875rem;
  margin: 0 auto;
  margin-top: 1.25rem;
}

@media screen and (max-width: 800px) {
  .services__statistic {
    width: 50rem;
  }
}

@media screen and (max-width: 600px) {
  .services__statistic {
    width: 48rem;
  }
}

.services__statistic-value {
  width: 25%;
  float: left;
  font-family: 'helveticalight', sans-serif;
  text-align: center;
}

.services__statistic-value h2 {
  font-size: 4rem;
  line-height: 1.125rem;
  color: #222222;
  font-weight: 100;
  margin: 1.5625rem 0;
}

.services__statistic-value p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
}

.services__slider {
  height: 33.4375rem;
  margin-top: 7.75rem;
  margin-left: 1.4375rem;
}

.services__slider .one:checked ~ .services__boxes > .one,
.services__slider .two:checked ~ .services__boxes > .two,
.services__slider .three:checked ~ .services__boxes > .three,
.services__slider .four:checked ~ .services__boxes > .four,
.services__slider .five:checked ~ .services__boxes > .five {
  opacity: 1;
}

.services__slider .one:checked ~ .slider_labels > .s1_label,
.services__slider .two:checked ~ .slider_labels > .s2_label,
.services__slider .three:checked ~ .slider_labels > .s3_label,
.services__slider .four:checked ~ .slider_labels > .s4_label,
.services__slider .five:checked ~ .slider_labels > .s5_label {
  background-color: #777777;
}

@media screen and (max-width: 1025px) {
  .services__slider {
    margin-top: 1.66667rem;
    height: 29rem;
  }
}

@media screen and (max-width: 800px) {
  .services__slider {
    margin-left: 0;
    margin-bottom: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .services__slider {
    height: 43rem;
  }
}

.services__boxes {
  position: relative;
  width: 55.25rem;
  height: 22.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .services__boxes {
    width: 48rem;
  }
}

.services__slider-block {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.slider_nav {
  display: none;
}

.slider_labels {
  text-align: center;
  margin-top: 0.625rem;
  word-spacing: 0.3125rem;
}

.slider_labels label {
  width: 0.5625rem;
  height: 0.5rem;
  border: 1px solid;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-right: 0.5625rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .slider_labels label {
    width: 1rem;
    height: 1rem;
  }
}

@media screen and (max-width: 1025px) {
  .slider_labels {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 800px) {
  .slider_labels {
    margin-top: 2.91667rem;
  }
}

@media screen and (max-width: 600px) {
  .slider_labels {
    margin-top: 11rem;
  }
}

.services__slider_img {
  width: 10.0625rem;
  height: 10.0625rem;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.services__slider_img img {
  display: block;
  width: 14.25375rem;
  height: 14.25375rem;
}

@media screen and (max-width: 600px) {
  .services__slider_img img {
    width: 19rem;
    height: 19rem;
  }
}

@media screen and (max-width: 800px) {
  .services__slider_img {
    width: 14rem;
    height: 14rem;
  }
}

@media screen and (max-width: 600px) {
  .services__slider_img {
    width: 19rem;
    height: 19rem;
  }
}

.services__slider_info {
  text-align: center;
  margin-top: 2.0625rem;
}

.services__slider_info h2 {
  font-family: 'helveticalight' ,sans-serif;
  font-size: 1.93813rem;
  color: #4b4b4b;
  font-weight: 100;
  line-height: 2.3125rem;
  word-spacing: 0.0875rem "";
}

.services__slider_info p {
  font-family: 'helveticabold', sans-serif;
  font-size: 0.9375rem;
  line-height: 2.3125rem;
  color: #777777;
}

@media screen and (max-width: 800px) {
  .services__slider_info p {
    font-size: 1.33333rem;
  }
}

.services__bottom {
  background-color: #FFFFFF;
  height: 3.125rem;
  width: 64.01%;
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  border-bottom: 0.08333rem solid white;
}

@media screen and (max-width: 1025px) {
  .services__bottom {
    height: 1rem;
  }
}

.portfolio {
  overflow: hidden;
}

.portfolio_header {
  background: url(../img/portfolio_header.png) no-repeat;
  width: 21.95rem;
  height: 6.78125rem;
  margin: 0 auto;
  margin-top: 2.6875rem;
  margin-left: 24rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 1025px) {
  .portfolio_header {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .portfolio_header {
    margin: 3.33333rem auto;
  }
}

@media screen and (max-width: 600px) {
  .portfolio_header {
    width: 30.2rem;
    height: 9.3rem;
  }
}

.portfolio__nav {
  display: block;
  width: 67.75rem;
  margin-top: 5.5rem;
}

.portfolio__nav ul {
  text-align: center;
  list-style: none;
}

.portfolio__nav ul li {
  text-align: center;
  list-style: none;
  display: inline-block;
  margin: 0;
  outline: none;
  margin-right: 1rem;
}

.portfolio__nav ul label {
  margin: 0;
  outline: none;
  cursor: pointer;
  border: 1px solid #172F41;
  padding: 0.375rem 1.1875rem;
  border-radius: 0.25rem;
  color: #172F41;
  font-family: 'helveticalight',sans-serif;
  font-size: 1.125rem;
}

.portfolio__nav ul label:hover {
  border: 0.0625rem solid #9f449b;
}

@media screen and (max-width: 800px) {
  .portfolio__nav ul label {
    padding: 0.83333rem 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__nav ul label {
    padding: 1.9rem 3rem;
  }
}

.portfolio__nav ul input {
  display: none;
}

.portfolio__nav ul input:checked ~ label {
  background-color: #9f449b;
  color: white;
  border-color: #9f449b;
}

@media screen and (max-width: 1025px) {
  .portfolio__nav {
    margin: 3rem 0 0 2.33333rem;
    width: 64rem;
  }
}

@media screen and (max-width: 1025px) and (max-width: 800px) {
  .portfolio__nav {
    width: 50rem;
    display: block;
    margin: 2.08333rem auto;
  }
}

@media screen and (max-width: 1025px) and (max-width: 600px) {
  .portfolio__nav {
    width: 46rem;
  }
}

.portfolio__works {
  margin-top: 4.375rem;
}

@media screen and (max-width: 1025px) {
  .portfolio__works {
    margin-top: 1.33333rem;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .portfolio__works {
    padding: 0 6.66667rem;
  }
}

.portfolio__works-block {
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .portfolio__works-block {
    margin: 0 1.66667rem;
  }
}

.portfolio__img {
  width: 21.4125rem;
  height: 21.4125rem;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 0.61875rem;
  margin-top: 0.17875rem;
}

.portfolio__img:hover {
  background-color: #565d67;
}

.portfolio__img:hover img {
  opacity: 0.6;
}

.portfolio__img img {
  display: block;
  width: auto;
  border: 0px;
  height: 21.4125rem;
}

@media screen and (max-width: 800px) {
  .portfolio__img img {
    height: 21.66667rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__img img {
    height: 35rem;
  }
}

@media screen and (max-width: 800px) {
  .portfolio__img {
    margin: 0 auto;
    width: 21.66667rem;
    height: 21.66667rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__img {
    width: 35rem;
    height: 35rem;
  }
}

.portfolio__desc {
  text-align: center;
  font-family: 'helveticalight' ,sans-serif;
}

.portfolio__desc h2 {
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #222222;
  font-weight: 100;
  margin-bottom: 0px;
}

.portfolio__desc p {
  font-size: 1rem;
  line-height: 1.625rem;
  color: #777777;
  margin: 0;
}

.portfolio__button button {
  box-sizing: border-box;
  font-size: 1.25rem;
  display: block;
  margin: 0 auto;
  padding: 1.5625rem 3.375rem;
  margin-top: 3.1875rem;
  background: #9f449b;
  border-bottom: solid 0.125rem #6B2E68;
  border-radius: 0.4375rem;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}

.portfolio__button button:hover {
  color: #6B2E68;
  background: transparent;
  border: solid 0.125rem #6B2E68;
  border-top: solid 0.125rem #6B2E68;
  border-radius: 0.625rem;
}

@media screen and (max-width: 600px) {
  .portfolio__button button {
    margin: 0 auto;
    padding: 2.2rem 6.5rem;
  }
}

.get_in_touch {
  margin-top: 11.125rem;
}

@media screen and (max-width: 1025px) {
  .get_in_touch {
    margin-top: 2rem;
  }
}

.get_in_touch_header {
  background: url(../img/touch_header.png) no-repeat;
  width: 21.95rem;
  height: 6.78125rem;
  margin-left: 23.9375rem;
  margin-bottom: 10.25rem;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 1025px) {
  .get_in_touch_header {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .get_in_touch_header {
    margin-top: 3.33333rem;
  }
}

@media screen and (max-width: 600px) {
  .get_in_touch_header {
    width: 32rem;
    height: 9.8rem;
    margin: 2.3rem auto;
  }
}

.get_in_touch__section {
  margin-left: 1.6875rem;
}

.get_in_touch__form {
  width: 50%;
  float: left;
}

.get_in_touch__form input[type="text"], .get_in_touch__form textarea {
  box-sizing: border-box;
  width: 31.25rem;
  padding: 1.4375rem;
  color: #5D5D5D;
  border: 0.0625rem solid #4E4E4E;
  outline: none;
  font-size: 1.125rem;
  margin-bottom: 2.25rem;
  display: block;
}

@media screen and (max-width: 800px) {
  .get_in_touch__form input[type="text"], .get_in_touch__form textarea {
    width: 50rem;
    margin: 0 auto 2.08333rem;
  }
}

@media screen and (max-width: 600px) {
  .get_in_touch__form input[type="text"], .get_in_touch__form textarea {
    width: 46rem;
  }
}

.get_in_touch__form textarea {
  min-height: 16.8125rem;
  resize: none;
}

@media screen and (max-width: 800px) {
  .get_in_touch__form {
    width: 100%;
    float: none;
  }
}

.form__send {
  width: 13.4375rem;
  margin-top: -0.1875rem;
}

.form__send a {
  box-sizing: border-box;
  font-size: 1.25rem;
  display: block;
  margin: 0 auto;
  padding: 1.3125rem 3.375rem;
  background: #9f449b;
  border-bottom: solid 0.25rem #6B2E68;
  border-radius: 0.4375rem;
  text-align: center;
  color: #FFFFFF;
}

.form__send a:hover {
  color: #6B2E68;
  background: transparent;
  border: solid 0.0625rem #6B2E68;
  border-top: solid 0.3125rem #6B2E68;
  border-radius: 0.625rem;
}

@media screen and (max-width: 600px) {
  .form__send a {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 800px) {
  .form__send {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .form__send {
    width: 20rem;
  }
}

.get_in_touch__info {
  box-sizing: border-box;
  width: 50%;
  float: right;
  padding-left: 2.5rem;
}

.get_in_touch__info p {
  font-family: 'helveticalight',sans-serif;
  font-size: 1.3125rem;
  line-height: 1.5rem;
  font-weight: 100;
  margin: 0;
  color: #4b4b4b;
}

@media screen and (max-width: 800px) {
  .get_in_touch__info p {
    font-size: 1.66667rem;
    line-height: 2rem;
  }
}

.get_in_touch__info h4, .get_in_touch__info a {
  font-family: 'helveticabold', sans-serif;
  font-size: 1.4725rem;
  line-height: 2.3125rem;
  color: #222222;
  margin-top: 4rem;
}

@media screen and (max-width: 800px) {
  .get_in_touch__info h4, .get_in_touch__info a {
    margin-top: 0;
  }
}

.get_in_touch__info a {
  display: block;
  margin: 0;
  font-weight: bold;
  margin-right: 1.875rem;
}

@media screen and (max-width: 800px) {
  .get_in_touch__info {
    width: 41.66667rem;
    float: none;
    margin: 2.5rem auto;
  }
}

@media screen and (max-width: 600px) {
  .get_in_touch__info {
    width: 46rem;
  }
}

.get_in_touch-icons {
  margin-top: 4.0625rem;
}

.get_in_touch-icons a {
  display: inline-block;
}

.get_in_touch-icons span {
  width: 4.65625rem;
  height: 4.65625rem;
  background: url(../img/get_in_touch_icons.png) no-repeat 0px 0px;
  display: inline-block;
  background-size: 18.72597rem 13.29719rem;
}

.get_in_touch-icons .get_in_touch-fb {
  background-position: -0.49rem -0.5625rem;
}

.get_in_touch-icons .get_in_touch-fb:hover {
  background-position: -0.49rem -5.8125rem;
}

.get_in_touch-icons .get_in_touch-tw {
  background-position: -6.93594rem -0.5rem;
}

.get_in_touch-icons .get_in_touch-tw:hover {
  background-position: -7rem -5.89rem;
}

.get_in_touch-icons .get_in_touch-gl {
  background-position: -13.525rem -0.5625rem;
}

.get_in_touch-icons .get_in_touch-gl:hover {
  background-position: -13.495rem -5.85rem;
}

@media screen and (max-width: 1025px) {
  .get_in_touch-icons {
    margin-top: 1.33333rem;
  }
}

@media screen and (max-width: 800px) {
  .get_in_touch-icons {
    text-align: center;
  }
}

.footer_logo {
  width: 16.29812rem;
  height: 3.7475rem;
  margin: 9.625rem 0 7.1875rem 26.5rem;
  background: url(../img/footer_logo.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: cover;
  -moz-box-shadow: cover;
}

@media screen and (max-width: 1025px) {
  .footer_logo {
    margin: 2rem 0 1.33333rem 26.46667rem;
  }
}

@media screen and (max-width: 600px) {
  .footer_logo {
    width: 24rem;
    height: 5.7rem;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */