.about{
	width: 100%;
}
.about__header{
	background: url(../img/about_header.png) no-repeat;
	width: rem(271px);
	height:rem(114px);
	margin:0 auto;
	margin-top: rem(127px);
}
.about__desk{
	margin-top: rem(137px);
	@extend %clearfix;
	margin-bottom: rem(230px);
}
.about__desc-content{
	float:right;
	font-family: "latolight";
	font-size: rem(16px);
	width: 	rem(456px);
	color: #676767;
	line-height: rem(36px);
	font-weight: 600;

	button{
	box-sizing:border-box;
	font-size: rem(20px);
	padding: rem(16px) rem(60px);	
	margin-top: rem(90px); 	
	background: #9f449b;
    border-bottom: solid rem(4px) #6B2E68;
    border-radius: rem(7px);
    text-align: center;
    color: #FFFFFF;

    	&:hover{
	    	color: #6B2E68;
		    background: transparent;
		    border: solid rem(2px) #6B2E68;
		    border-top: solid rem(5px) #6B2E68;
		    border-radius: rem(10px);
	    	}
	}
}
.about__desk-img{
	float:left;
	background: url(../img/screen_img.png)no-repeat;
	width: rem(654px);
	height: rem(415px);
	margin-right: rem(30px);
}
//ABOUT FOOTER BLOCK
.about__footer{
		width: 100%;
		background: url(../img/section_bg.jpg)no-repeat;
		background-size:cover;
}
.about__block{
		text-align:center;
		padding: rem(150px) 0px;
	p{
		font-family: "latolight";
		font-size: rem(40px);
		color:#ffffff;
		font-weight: 600;
	}
}
.about-logo{
	margin:0 auto;
	width: rem(167px);
	height:rem(181px);
	background: url(../img/about_study_icon.png) no-repeat;
}
.think-logo{
	margin:0 auto;
	width: rem(167px);
	height:rem(181px);
	background: url(../img/about_think_icon.png) no-repeat;
}