.portfolio{
	overflow:hidden;
}
.portfolio_header{
	background: url(../img/portfolio_header.png)no-repeat;
	width: rem(351.2px);
	height:rem(108.5px);
	margin:0 auto;	
	margin-top:rem(43px);
	margin-left: rem(384px);
	@include background-size(cover);
	@include tablets{
		margin-top: tablet(15px);
	} 
	@include smartphones{
		margin: phone(40px) auto;	
	} 
	@include mobilephones{
			width: mobile(302px);
			height: mobile(93px);		} 
}
.portfolio__nav{
	display: block;
	width: rem(1084px);
	margin-top: rem(88px);
	ul{
		text-align: center;
		list-style: none;

		li{
			text-align: center;
			list-style: none;
			display: inline-block;
			margin: 0;
			outline: none;
			margin-right: rem(16px);
		}

		label{
			margin: 0;
			outline: none;
			cursor: pointer;
			border: 1px solid #172F41;
			padding: rem(6px) rem(19px);
			border-radius: rem(4px);
			color: #172F41;
			font-family: 'helveticalight',sans-serif;
			font-size: rem(18px);

			&:hover{
				border: rem(1px) solid #9f449b;
			}
			@include smartphones{
				padding: phone(10px) phone(30px);	
			} 
			@include mobilephones{
			padding: mobile(19px) mobile(30px);
		} 
		}
		input{
			display: none;
			&:checked{
				~ label{
					background-color:#9f449b;
					color:white;
					border-color:#9f449b;;
				}
			}
		}
	}
	@include tablets{
		margin: tablet(45px) 0 0 tablet(35px);
		width: tablet(960px);
		@include smartphones{
			width: phone(600px);	
			display: block;
			margin: phone(25px) auto;
		} 
		@include mobilephones{
			width: mobile(460px);
		} 
	} 
}
.portfolio__works{
	margin-top: rem(70px);
	@include tablets{
		margin-top: tablet(20px);
		text-align: center;
	} 
	@include smartphones{
		padding:0 phone(80px);	
	} 
}
.portfolio__works_top{
	margin-bottom: rem(24px);
	@include tablets{
		margin-bottom: tablet(0px);
		width: 100%;
	} 
}
.portfolio__works_bottom{
	@include smartphones{
		width: 100%;
		float: right;	
	} 
}
.portfolio__works-block{
	display: inline-block;
	text-align: center;
	@include smartphones{
		margin: 0 phone(20px);		
	} 
}
.portfolio__img{
	width: rem(342.6px);
	height: rem(342.6px);
	box-sizing: border-box;
	overflow: hidden;
	margin-left: rem(9.9px);
	margin-top: rem(2.86px);
	&:hover{
		background-color:#565d67;
		img{
			opacity: 0.6;
		}
	} 

	img{
		display: block;
		width: auto;
		border:0px;
		height: rem(342.6px);
		@include smartphones{
		height: phone(260px);	
		} 
		@include mobilephones{
			height: mobile(350px);
		} 
	}
	@include smartphones{
		margin: 0 auto;	
		width: phone(260px);
		height: phone(260px);
	} 
	@include mobilephones{
			width: mobile(350px);
			height: mobile(350px);
		} 
}

.portfolio__desc{
	text-align: center;
	font-family: 'helveticalight' ,sans-serif;

	h2{
		font-size: rem(24px);
		line-height: rem(26px);
		color:#222222;
		font-weight: 100;
		margin-bottom: 0px;
	}
	p{
		font-size: rem(16px);
		line-height: rem(26px);
		color:#777777;
		margin:0;
	}
}
.portfolio__button{
	button{
		box-sizing:border-box;
		font-size: rem(20px);
		display: block;
		margin:0 auto;
		padding: rem(25px) rem(54px);	
		margin-top: rem(51px); 	
		background: #9f449b;
		border-bottom: solid rem(2px) #6B2E68;
		border-radius: rem(7px);
		text-align: center;
		color: #FFFFFF;
		cursor: pointer;
		outline: none;

		&:hover{
			color: #6B2E68;
			background: transparent;
			border: solid rem(2px) #6B2E68;
			border-top: solid rem(2px) #6B2E68;
			border-radius: rem(10px);
			
		}
		
		@include mobilephones{
			margin: 0 auto;
			padding: mobile(22px) mobile(65px);
		} 
	}
}



