.services{
	background-color:#eee7e7;
	padding-top: rem(125px);
	position: relative;
	.container{
	
	}
	@include tablets{
		padding-top: tablet(10px);
	} 
}
.services__statistic{
	@extend %clearfix;
	width: rem(1022px);
	margin: 0 auto;
	margin-top: rem(20px);
	@include smartphones{
		width: phone(600px);	
	} 
	@include mobilephones{
			width: mobile(480px);
		} 
}
.services__statistic-value{
	width: 25%;
	float:left;
	font-family: 'helveticalight', sans-serif;
	text-align: center;

	h2{
		font-size: rem(64px);
		line-height: rem(18px);
		color: rgb(34, 34, 34);
		font-weight: 100;
		margin: rem(25px) 0;
	}

	p{
		font-size: rem(16px);
		line-height: rem(24px);
		color:#777777;
	}
}
.last_value{
	@extend %clearfix;
}

.services__slider{
	height: rem(535px);
	margin-top: rem(124px);
	margin-left: rem(23px);
	.one:checked ~ .services__boxes > .one,
	.two:checked ~ .services__boxes > .two,
	.three:checked ~ .services__boxes > .three,
	.four:checked ~ .services__boxes > .four,
	.five:checked ~ .services__boxes > .five{
		opacity: 1;
	}
	.one:checked ~ .slider_labels > .s1_label,
	.two:checked ~ .slider_labels > .s2_label,
	.three:checked ~ .slider_labels > .s3_label,
	.four:checked ~ .slider_labels > .s4_label,
	.five:checked ~ .slider_labels > .s5_label{
		background-color:#777777;
	}
	@include tablets{
		margin-top: tablet(25px);
		height: tablet(435px);
	} 
	@include smartphones{
		margin-left: 0;	
	} 
	@include mobilephones{
			height: mobile(430px);
		} 

}
.services__boxes{
	position:relative;
	width:rem(884px);
	height: rem(360px);
	margin: 0 auto;
	@include mobilephones{
			width: mobile(480px);
		} 
}
.services__slider-block{
	position:absolute;
	top:0;
	left:0;
	opacity: 0;
	transition: opacity 1.5s ease-in-out;
}
.slider_nav{
	display:none;
}
.slider_labels{
	text-align: center;
	margin-top: rem(10px);
	word-spacing: rem(5px);
	label{
		width: rem(9px);
		height: rem(8px);
		border: 1px solid;
		border-radius:50%;
		background-color:#fff;
		display: inline-block;
		margin-right: rem(9px);
		cursor: pointer;
		@include smartphones{
			width: phone(12px);
			height: phone(12px);	
		} 
	}
	@include tablets{
		margin-top: tablet(0px);
	} 
	@include smartphones{
		margin-top: phone(35px);	
	} 
	@include mobilephones{
			margin-top: mobile(110px);
		} 
}
.services__slider_img{
	width: rem(161px);
	height: rem(161px);
	box-sizing:border-box;
	overflow:hidden;
	border-radius:50%;
	margin: 0 auto;

	img{
		display: block;
		width: rem(228.06px);
		height: rem(228.06px);
		@include mobilephones{
			width: mobile(190px);
			height: mobile(190px);
		} 
	}
	@include smartphones{
		width: phone(168px);	
		height: phone(168px);
	} 
	@include mobilephones{
			width: mobile(190px);
			height: mobile(190px);
		} 
}
.services__slider_info{
	text-align: center;
	margin-top: rem(33px);
	h2{
		font-family: 'helveticalight' ,sans-serif;
		font-size: rem(31.01px);
		color:#4b4b4b;
		font-weight: 100;
		line-height:rem(37px);
		word-spacing: rem(1.4px)''
	}
	p{

		font-family: 'helveticabold', sans-serif;
		font-size: rem(15px);
		line-height: rem(37px);
		color:#777777;
		@include smartphones{
			font-size: phone(16px);	
		} 
	}
}



.services__bottom{
	background-color:#FFFFFF;;
	height: rem(50px);
	width: rem(1218.18px);
	bottom: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	@include tablets{
		width: tablet(570px);
		height: tablet(15px);
	} 
}
