.skill_header {
  background: url(../img/skill_header.png) no-repeat;
  width: rem(297px);
  height: rem(114px);
  margin: 0 auto;
  margin-bottom: 180px;
}

.skill_left {
  width: rem(430px);
  float: left;
  margin-left: rem(45px);
}

.skill_right {
  width: rem(430px);
  float: right;
  margin-right: rem(45px);
}

.skill h3 {
  font-size: rem(22px);
  font-family: 'helveticabold';
  color: #222222;
  line-height: rem(16px);
  text-align: left;
  float: left;
  margin-bottom: rem(0px);
}

.skill .container {
  margin-bottom: rem(190px);
}

.skill-percent {
  float: right;
  font-size: rem(24px);
  font-family: 'latolight';
  line-height: rem(18px);
  color: #777777;
  margin-bottom: rem(0px);
}

.score {
  width: rem(430px);
  background: #eee7e7;
}

.score p {
  background: #9F449B;
  width: 85%;
  height: rem(20px);
}

.skill__score-web p {
  width: 90%;
}

.skill__score-design p {
  width: 75%;
}

.skill__score-html p {
  width: 70%;
}

.skill__score-ul p {
  width: 85%;
}
