.skill_header{
	background: url(../img/skill_header.png)no-repeat;
	width: rem(282.65px);
	height:rem(108.49px);
	margin:0 auto;	
	margin-bottom: rem(180px);
	@include background-size(cover);
	@include tablets{
		margin-bottom: tablet(30px);
	} 
	@include smartphones{
		margin-top: phone(40px);	
	} 
}
.skill_left{
	width: rem(462px);
	float:left;
	margin-left: rem(45px);
	@include smartphones{
		width: phone(600px);	
	} 
}
.skill_right{
	width: rem(462px);
	float:left;
	margin-left: rem(34px);
	@include smartphones{
		width: phone(600px);	
	} 
}
.skill__html,.skill__ul {
	padding-top: rem(25.09px);
}

.skill{
	margin-bottom: rem(175px);
	@include tablets{
		margin-bottom: tablet(40px);
	} 
	h3{
		font-size: rem(22.2px);
		font-family: 'helveticabold';
		color: rgb(34, 34, 34);
		line-height: rem(16px);
		float:left;
		margin: rem(0px);
		margin-left: rem(51.7px);
		margin-top: rem(3px);
	}

	.container{
		margin-top: rem(100.720px);
		@include tablets{
			margin-top: tablet(40px);
		} 

		&:after{
			@extend %clearfix;
		}
	}
	.base{
		margin-top: rem(23.96px);
	}
}
.clear{
	@extend %clearfix;
}

.skill-percent{
	float:right;
	font-size: rem(24px);
	font-family: 'helveticalight';
	line-height:rem(18px);
	color:#777777;
	margin:rem(0px);
	margin-right: rem(4px);
}
.score{

	width: rem(398px);
	background: #eee7e7;
	margin-left: rem(52.5px);
	margin-top: rem(23.95px);
	
	p{
		background: #9F449B;
		height: rem(20px);
	}
	@include smartphones{
		width: phone(600px);	
	} 
}
.skill__score-web p{
	width:90%;
}
.skill__score-html p{
	width: 75%;
}
.skill__score-design p{
	width: 70%;
}
.skill__score-ul p{
	width: 85%;
}

