.nav-top{
	display: block;
	width: rem(1084px);
	margin:0 auto;
	font-size: rem(18px);
	font-family:  'latolight';
	@extend %clearfix;

	@include tablets{
		width: tablet(940px);
	} 
	@include smartphones{
		width: phone(700px);	
	} 
	@include mobilephones{
		font-size: mobile(14px);
		width: mobile(542px);
		position: relative;
	} 
}
.nav-top__logo{
	float:left;
	margin:rem(54px) rem(0px) rem(45px);
	width: rem(153.22px);
	height: rem(36.16px);
	background: url("../img/bhagaskara_logo.png")no-repeat ;
	@include background-size(cover);

	@include tablets{
		margin:tablet(15px) tablet(0px) tablet(10px);
	} 
	@include mobilephones{
		width: mobile(135px);
		height: mobile(32px);
		float: left;
	} 
}
.nav-top__list{
	float:right;
	margin-top:rem(65px);
	li{
		display: inline-block;
		text-decoration: none;
		padding-left:rem(23px);
		@include mobilephones{
			padding-left: mobile(2px);
			display: none;
		} 

		a{
			color: rgb(103, 103, 103);

			&:hover{
				color:#9f449b;
				font-weight: 600;
			}
		}
	}
	.menu_icon{
		display:none;
		@include mobilephones{
			float: right;
			display: inline-block;
			font-size: mobile(25px);
		} 
	}
	&.responsive{
		width: 100px;
		float: left;

		 li{
		 	float: none;
		 	display: block;
		 	font-size: mobile(25px);
		 	line-height: mobile(50px);
		 	&:not(:last-child){
		 		width: mobile(160px);
		 		text-align: center;
		 	}
		 	a{
		 		display: block;
		 		display: inline;
		 	}
		 }
		 .menu_icon{
		 		position:absolute;
		 		right: 0px;
		 		top: phone(10px);
		 	}
	}
	@include tablets{
		margin-top: tablet(25px);
	} 
	@include mobilephones{
		padding-left: mobile(2px);
		margin-left: mobile(60px);
	} 

}


