.nav-top{
	display: block;
	width: rem(1084px);
	margin:0 auto;
	font-size: rem(18px);
	font-family:  'latolight';
	@extend %clearfix;

	@include tablets{
		width: tablet(940px);
	} 
	@include smartphones{
		width: phone(700px);	
	} 
}
.nav-top__logo{
	float:left;
	margin:rem(54px) rem(0px) rem(45px);
	width: rem(153.22px);
	height: rem(36.16px);
	background: url("../img/bhagaskara_logo.png")no-repeat ;
	@include background-size(cover);

	@include tablets{
		margin:tablet(15px) tablet(0px) tablet(10px);
	} 
}
.nav-top__list{
	float:right;
	margin-top:rem(65px);

	@include tablets{
		margin-top: tablet(25px);
	} 
	li{
		display: inline-block;
		text-decoration: none;
		padding-left:rem(23px);

		a{
			color: rgb(103, 103, 103);

			&:hover{
				color:#9f449b;
				font-weight: 600;
			}
		}
	}
}

